@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --red: #FF0000;
    --black: #232020;
    --navbarItem: "Oxygen";
    --Title: "Roboto"
}

/* NAVBAR */
.navbar-container{
    color: var(--red);
    background-color: var(--red);
    /* padding: 10px */
}

.navbarItem{
  color: black;
  font-size: 19px;
  font-weight: bold;
  font-family: "Oxygen", sans-serif;
  padding-top: 16px;
  padding-left: 15px;
}

.navbarInfo{
  color: black;
  font-size: 15px;
  font-weight: bold;
  font-family: "Oxygen", sans-serif;
  padding-top: 16px;
  padding-left: 5px;
  padding-right: 15px;
}
/* NAVBAR */


/* LOGO */
.logo-container{
  padding-top: 150px;
  justify-content: center;
  align-items: center;
}
/* LOGO */


/* TITULO */
.TitleContainer{
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Title{
  color: black;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  padding-top: 16px;
  padding-left: 5px;
  padding-right: 15px;
}
/* TITULO */

/* Carrusel */
.Carosel-Container{
  /* margin-top: 170px; */
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: var(--black);
}


/* TARJETAS */
.Cards-Container{
  /* align-items: end; */
  align-content: flex-end;
}

.Cards-Paragraph{
  color: black;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  padding-top: 16px;
  padding-left: 5px;
  padding-right: 15px;

}



.Subtitle-Container{
  justify-content: left;
  align-items: left;
  text-align: left;
}

.Subtitle-White{
  color: white;
  font-size: 38px;
  font-family: "Oxygen", sans-serif;
  padding-top: 16px;
  padding-left: 3px;
  padding-right: 15px;
}

.Subtitle-Black{
  color: black;
  font-size: 38px;
  font-family: "Oxygen", sans-serif;
  padding-top: 16px;
  padding-left: 1px;
  padding-right: 15px;
}



  